* {
    box-sizing: border-box;
    margin: 0 auto;
    text-align: center;
}
header{
    background-color: lightgray;
    padding-bottom: 10px;
}
.header-img {
    width: 100vw;
}

form {
    max-width: 760px;
}
#question{
    background-image: linear-gradient(to top, rgb(207, 207, 207), white);
    border-radius: 10px;
    border-color: lightgray;
}

#answer-choices p{
    box-sizing: content-box;
    width: 100px;
}
#answer-choices p:hover{
    background: gray;
    border-radius: 5px;
}

#right{
    border: 2px solid green;
    border-radius: 5px;
    background: rgba(0,255,0,0.3);
}
#answer-choices #right:hover{
    background: green;
    color: white;
}
#wrong {
    border: 2px solid red;
    border-radius: 5px;
    background: rgba(255, 0,0,0.3);
}

#answer-choices #wrong:hover{
    background: red;
    color: white;
}

.score {
    position: fixed;
    bottom: 0px;
    width: 100%;
    background: grey;
}
table {
    width: 100%;
    border-collapse: collapse;
}
table td{
    color: white;
    height: 20px;
}
.score-correct{
    background: green;
}
.score-incorrect{
    background: red;
}
.score-unknown{
    background: black;
}